apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: todolist
spec:
  selector:
    app: backend
  type: ClusterIP
  ports:
  - port: 5000
    targetPort: 5000
    protocol: TCP
    name: http
