apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: todolist
spec:
  selector:
    app: frontend
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
